@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-text: #0C141A;
    --color-background: #f5fdff;
    --color-primary: #405C6F;
    --color-secondary: #96A3B4;
    --color-accent: #F9778A;

    --color-accent-75: rgba(249, 119, 138, 0.75);

    --color-dark-text: #e7eef4;
    --color-dark-background: #00080a;
    --color-dark-primary: #91adc0;
    --color-dark-secondary: #4a5768;
    --color-dark-accent: #97075D;

    --color-dark-accent-75: rgba(151, 7, 93, 0.75);

    --font-verdana: 'Verdana';
    --font-amarante: 'Amarante';
}

@font-face {
    font-family: 'Verdana';
    src: url('/fonts/Verdana/Verdana-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Amarante';
    src: url('/fonts/Amarante/Amarante-Regular.ttf') format('truetype');
}